header{
    background: linear-gradient(135deg,#0143a3,#0273d4);
    color: #fff;
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar {
    background: transparent !important;
}

h6{
    font-size: 14px;
}