footer{
    bottom: 0;
    position: fixed;
    background: linear-gradient(135deg,#0143a3,#0273d4);
    height: 50px;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}